.App {
  text-align: center;
  font-family: sans-serif;
}

.logo {
  height: 20px;
  width: 150px;
  padding-right: 30px;
}

.header-main{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgb(13, 37, 65);
  height: 64px;
  width: 100%;
}
.Header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;
  background-color: rgb(13, 37, 65);
  color: white;
  padding: 0px 40px;
}
.Header-content{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 20px;
}
.nav1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav2{
  display: flex;
  gap: 30px;
}
.nav{
  list-style: none;
  display: flex;
  gap: 30px;
}
li{
  font-size: 16px;
  font-weight: 500;
}
#btn-lang{
  background-color: transparent;
  color: white;
  border: 1px white solid;
  border-radius: 3px;
}
.search-glass{
  color: rgb(52, 171, 235);
}

.hero-Section1{
  background-image: url('https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,00192f,00baff)/r2NcIZ1FPMlxCty3vRITVTgGNVS.jpg');
  height: 355px;
  padding: 40px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px 40px;
  padding-top: 60px;

}
.search{
  width: 100%;
  background-color: white;
  border-radius: 30px;
  border: none;
  position: relative;
}
#searchbar {
  width: 93%;
  height: 45px;
  border-radius: 30px;
  border: none;
  padding: 10px 20px;
}
#search-btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  position: absolute;
  border-radius: 30px;
  padding: 10px 26px;
  border: none;
  background-color: rgb(30, 213, 169);
  color: white;
}
#checkit-btn{
  border-radius: 30px;
  border: 2px white solid;
  padding: 5px 10px;
  background-color: transparent;
  color: white;
}

.hero-Section2{
  background-image: url('https://image.tmdb.org/t/p/w1920_and_h600_multi_faces/rGbRnRvkmrSub07ty89Vnlsh6UX.jpg');
  height: 300px;
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  
}
#hs2-title{
  border-bottom: 1px white solid;
  font-size: 60px;
  width: 30%;
}


