.App {
  text-align: center;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}
/* *{
  font-family: 'Source Sans Pro', sans-serif;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');

.logo {
  height: 20px;
  width: 150px;
  padding-right: 30px;
}

.header-main{
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: fixed; */
  background-color: rgb(13, 37, 65);
  height: 64px;
  width: 100%;
}
.Header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;
  background-color: rgb(13, 37, 65);
  color: white;
  padding: 0px 40px;
}
.Header-content{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 20px;
}
.nav1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav2{
  display: flex;
  gap: 30px;
}
.nav{
  list-style: none;
  display: flex;
  gap: 30px;
}
li{
  font-size: 16px;
  font-weight: 500;
}
#btn-lang{
  background-color: transparent;
  color: white;
  border: 1px white solid;
  border-radius: 3px;
  padding:2px 3px;
  font-size: small;
}
#btn-lang:hover{
  background-color: white;
  color: black;
}
.search-glass{
  color: rgb(52, 171, 235);
}

.hero-Section1{
  background-image: url('https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,00192f,00baff)/r2NcIZ1FPMlxCty3vRITVTgGNVS.jpg');
  height: 376px;
  padding: 40px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px 40px;
  padding-top: 60px;

}
.search{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  background-color: white;
  border-radius: 30px;
  border: none;
  
}
#searchbar {
  width: 300px;
  height: 45px;
  color: black;
  border-radius: 30px;
  border: none;
  padding: 10px 20px;
  
}
#searchbar:focus{
  
  outline: none;
}
#search-btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 46.2px;
  border-radius: 30px;
  padding: 10px 26px;
  border: none;
  background-color: rgb(30, 213, 169);
  color: white;
}
#search-btn:hover{
  color:black;
}
#checkit-btn{
  border-radius: 30px;
  border: 2px white solid;
  padding: 5px 10px;
  background-color: transparent;
  color: white;
}

.hero-Section2{
  background-image: url('https://image.tmdb.org/t/p/w1920_and_h600_multi_faces/rGbRnRvkmrSub07ty89Vnlsh6UX.jpg');
  height: 352px;
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  
}
#hs2-title{
  border-bottom: 1px white solid;
  font-size: 60px;
  width: 30%;
}
.trending-section{
  padding-top: 10px;
  background-image: url('https://www.themoviedb.org/assets/2/v4/misc/trending-bg-39afc2a5f77e31d469b25c187814c0a2efef225494c038098d62317d923f8415.svg');
  background-repeat: no-repeat;
  background-position: 50% 200px;
  background-size: var(--maxPrimaryPageWidth);
}
/* .image-scroller{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
} */
.trending-container{
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  padding-bottom: 20px;
}
.switch-container{
  height: 30px;
  width: 192px;
  margin: 10px auto;
  border: 1px solid rgb(13, 37, 65);;
  border-radius: 20px;
  background-color: white;
}
.togglemovie{
  padding: 2px 5px;
  color: rgb(13, 37, 65); 
  font-weight: 500;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  position: relative;
  text-align: center;
}

.movielist{
  display: flex;
  
  overflow-x: scroll;
}
a{
  text-decoration: none;
}
.card-container{
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  width: 150px;
}
.movie-image{
  width: 150px;
  border-radius: 10px;
  padding: 5px;
}
.content{
  width: 150px;
  font-size: medium;
  text-align: center;
  padding: 0px 3px;
}

h6{
  font-size: 1em;
  width: 130px;
  height: 40px;
  display: flex;
  align-items:flex-start;
  flex-wrap: wrap;
  word-wrap: normal;
  padding: 5px 2px;
  position: relative;
}
.border-blue{
  border: 1px solid rgb(13, 37, 65);

}
.bg-blue{
  background-color: rgb(13, 37, 65);;
}

